/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Ubuntu', sans-serif !important;
    background-color: #9ec3fc !important;
}
.contact-img{
    width: 150px;
    border-radius: 5%;
}
.contact-img-big{
    width: 200px;
    border-radius: 5%;
}